:root {
    background-color: #fff;
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #415462;
}

@media (min-width: 300px) {
    article {
        width: 80%;
        margin: 0.4em auto;
    }
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    article {
        width: 30%;
        margin: 0.4rem;
    }
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    article {
        width: 30%;
        margin: 0.4rem;
    }
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    article {
        width: 20%;
        margin: 0.4rem;
    }
    .container {
        max-width: 1130px;
    }
}

h1 {
    color: #1b2832;
}

h2 {
    color: #24333e;
}

h3 {
    color: #2c3d49;
}

h4 {
    color: #374956;
    margin: .4em;
}

body {
    width: 100%;
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    border: .05rem solid #dadee4;
    border-radius: .1rem;
}

article>body {
    padding: 0.4rem;
}

article>header {
    background-color: #afe1af;
}

article>header.no-trail {
    background-color: tomato;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.past-treck header {
    background-color: #eee;
}

.past-treck,
.past-treck h4 {
    color: #aaa;
}