:root {
    background-color: #fff;
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #415462;
}

@media (min-width: 300px) {
    .week {
        width: 80%;
        margin: 0.4em auto;
    }
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .week {
        width: 30%;
    }
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .week {
        width: 30%;
        margin: 0.4rem;
    }
    .container {
        max-width: 920px;
    }
}

@media (min-width: 1200px) {
    .week {
        width: 20%;
    }
    .container {
        max-width: 1130px;
    }
}

h1 {
    color: #1b2832;
}

h2 {
    color: #24333e;
}

h3 {
    color: #2c3d49;
    margin: .4em;
}

h4 {
    color: #374956;
    margin: auto;
}

h5 {
    color: #374956;
    margin: .4em;
}

ul {
    margin-top: 0;
    padding: .4em 1em;
}

header {
    text-align: center;
}

body {
    width: 100%;
    margin: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.weeks,
.past-treck,
.riders {
    display: flex;
    flex-wrap: wrap;
}

.week,
.treck {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    border: .05rem solid #dadee4;
    border-radius: .1rem;
}

.week>header {
    background-color: #d4e9d4;
    padding: .2em;
}

.treck-banner,
.rider-banner,
.stationary-banner {
    background-color: rgb(124, 233, 139);
    padding: .2em
}

.treck-banner {
    font-size: 2em;
}

.treck {
    min-height: 15em;
}

.treck body,
.stationary body {
    padding: 0 .4em;
}

.past-treck {
    color: #aaa;
}

.past-treck .week-banner {
    background-color: rgb(212, 212, 212);
}

.past-treck .stationary-banner,
.past-treck .rider-banner {
    background-color: #eee;
}

.no-way {
    background-color: tomato;
}