:root {
    background-color: #fff;
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #415462;
}

h1 {
    color: #1b2832;
}

h2 {
    color: #24333e;
}

h3 {
    color: #2c3d49;
}

h4 {
    color: #374956;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
    border: .05rem solid #dadee4;
    border-radius: .1rem;
    margin: 0.4rem;
}

article>body,
article>header {
    padding: 0.4rem;
}

article>header {
    background-color: #eee;
}